
.about h2{
    margin-bottom: 5rem;
}

.about_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.about_container .about_box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.about_container .about_box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.about_box i{
    font-size: 7rem;
    color: var(--main-color);

}

.about_box h3{
    font-size: 2.6rem;

}

.about_box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}